# python==3.10.12 
--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.5.0+cu121
botorch==0.15.1
gpytorch==1.14.0
numpy==2.1.2
pandas==2.2.3
scipy==1.15.2
openpyxl==3.1.5
matplotlib>=3.9,<4
scikit-learn>=1.5,<2
tqdm>=4.66
